/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.background-error-page{
    background-color: rgb(214, 203, 182);
   }
   
   .background-success-page{
    background-color: rgb(28, 30, 41);
   }
   
   .image-on-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: 
    center; 
        -ms-flex-pack: 
    center; 
            justify-content: 
    center; -webkit-box-align: 
    center; -ms-flex-align: 
    center; align-items: 
    center; justify-items: center; 
    align-items: center; 
    padding-top: 12%;
   }
   
   .back-to-site-black{
    font-size: 2rem; color: rgb(36, 34, 34);
   }
   
   .back-to-site-white{
    font-size: 2rem; color: white;
   }
   
   .center-text{
    text-align: center;
    margin-top: 5%;
   }

   #body{
       position: relative;
       top: -1325px;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100vw;
   }

   .image-on-center img{
       max-width: 80%;
   }