
:root{
    --cinza: #757575;
    --azul: #074ca1;
    --preto: #212121;
    --branco:#ffffff;
    --amarelo:#f3dc0b;
}

p{
    font-size: 18px;
}

.icon{
    width: 30px;
}
.icon-medium{
    width: 20px;
}

.logo{
    width: 120px;
}

.top-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    display: none;
    height: 0;
}
#menu.active{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

#menu ul, #menu li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
}

#menu li{
    border-bottom: 1px solid var(--azul);
    font-weight: 600;
}

#menu li:first-child{
    border-top: 1px solid var(--azul);
    margin-top:5%;
}

.group-icons-social-media-mobile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.group-icons-social-media-mobile img{
    padding: 14px;
    width: 60px;
}

.div-nav{
    padding: 0 2% 0 0;
}

#nav{
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0px;
}

.banner{
    width: 100%;
    background-color: var(--cinza);
    height: 90vh;
}

.about__background{
    width: 70%;
    position: relative;
    right: 10%;
    background-color: var(--azul);
    height: 50vh;
}

.about__background__image{
    width: 142%;
    position: relative;
    left: 20%;
    height: 40vh;
    background-color: var(--cinza);
    top: 5vh;
}

.seriveces__image__service{
    width: 100%;
    background-color: var(--cinza);
    margin: 47px 0 0;
    padding: 0;
    position: relative;
    min-height: 40vh;
}

.title{
    display: block;
    margin-top: 7vh;
    text-transform: uppercase;
    margin: 7% 0;
    border-bottom: 3px solid var(--azul);
    width: 60%;
    text-align: center;
}

.subtitle{
    margin: 3vh 0;
}

.budget{
    background-color: var(--azul);
}

.budget__link{
    color: var(--branco);
    padding: 12% 5%;
}
.budget__mark{
    color: var(--azul);
    background-color: var(--amarelo);
    border-radius: 7px;
    height: 2;
}

.color_white{
    color: var(--branco);
}

.projects__header{
    background-color: var(--cinza);
    width: 100%;
    min-height: 60vh;
    position: relative;
    bottom: 3px;
    margin-bottom: 40px;
}

.projects__header .title{
    padding-top: 3rem;
    border-color: var(--branco);
}

.divider{
    width: 100%;
    height: 7vh;
    background-color: var(--azul);
    margin-top: 5vh;
}

.carousel-item img {
    min-width: 100%;
    height: 32vh;
}

.contact{
    background-color: var(--azul);
}

.contact .title{
    color: var(--branco);
    border-color: var(--branco);
    padding-top: 4vh;
}

.contact input, .contact textarea{
    border-radius: 14px;
    min-height: 3rem;
}
.contact input[type='submit']{
    width: 100%;
}

.info{
    color: var(--branco);
    text-align: center;
    letter-spacing: 1.2px;
    padding: 7vh 0;
}

.info .title{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding:0;
}

.info a{
color: var(--branco);
}

.header{
    text-align: center;
    display: flex;
    justify-content: center;
}

.map{
    width: 100%;
    border-bottom: 14px ridge var(--azul);
}

.main__footer{
    text-align: center;
}

.main__footer img{
    padding: 3vh 0;
    width: 140px;
}

.main__footer__icons .icon{
    width: 40px;
    padding: 0 5px 0;
    margin-bottom: 3vh;
}


#logos .carousel-inner .carousel-item{
    border: 50px solid transparent;
    border-top: 0;
}