
:root{
    --cinza: #757575;
    --azul: #074ca1;
    --preto: #212121;
}

p{
    font-size: 18px;
}

h1{
    text-transform: uppercase;
    margin: 7% 0;
    border-bottom: 3px solid var(--azul);
    width: 70%;
}

.icon{
    width: 30px;
}
.icon-medium{
    width: 20px;
}

.logo{
    width: 120px;
}

.top-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    display: none;
    height: 0;
}
#menu.active{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

#menu ul, #menu li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
}

#menu li{
    border-bottom: 1px solid var(--azul);
    font-weight: 700;
}

#menu li:first-child{
    border-top: 1px solid var(--azul);
    margin-top:5%;
}

.group-icons-social-media-mobile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.group-icons-social-media-mobile img{
    padding: 14px;
    width: 60px;
}

.div-nav{
    padding: 0 2% 0 0;
}

#nav{
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0px;
}

.banner{
    width: 100%;
    background-color: var(--cinza);
    height: 90vh;
}

.background{
    width: 70%;
    position: relative;
    right: 10%;
    background-color: var(--azul);
    height: 50vh;
}

.background .image{
    width: 150%;
    position: relative;
    left: 20%;
    height: 40vh;
    background-color: var(--cinza);
    top: 5vh;
}