
:root{
    --cinza: #757575;
    --azul: #074ca1;
    --preto: #212121;
    --branco:#ffffff;
    --amarelo:#f3dc0b;
}

.desktop-header{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: 1rem;
    color: var(--cinza);
    text-align: justify;
    padding: 0 5%;
}

.icon{
    width: 30px;
}
.icon-medium{
    width: 20px;
}

.logo{
    width: 120px;
}

.top-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    display: none;
    height: 0;
}
#menu.active{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

#menu ul, #menu li{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
}

#menu li{
    border-bottom: 1px solid var(--azul);
    font-weight: 600;
}

#menu li:first-child{
    border-top: 1px solid var(--azul);
    margin-top:5%;
}

.group-icons-social-media-mobile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.group-icons-social-media-mobile img{
    padding: 14px;
    width: 60px;
}

.div-nav{
    padding: 0 2% 0 0;
}

.desktop-header a{
    color: var(--preto);
}

#nav{
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0px;
}

.banner{
    width: 100%;
    background-color: var(--cinza);
    height: 90vh;
    background-image: url('../images/banners/banner-mobile.png');
}

#about .banner{
    width: 100%;
    background-color: var(--cinza);
    height: 90vh;
    background-image: url('../images/banners/quem-somos-background-mobile.png');
}

#services .banner{
    width: 100%;
    background-color: var(--cinza);
    height: 90vh;
    background-image: url('../images/banners/service-background-mobile.png');
}

#projects .banner{
    width: 100%;
    background-color: var(--cinza);
    height: 90vh;
    background-image: url('../images/banners/projetos-background-mobile.png');
}

.about__background{
    width: 70%;
    position: relative;
    right: 10%;
    background-color: var(--azul);
    height: 80vh;
}

.about__background__image{
    width: 142%;
    position: relative;
    left: 20%;
    height: 70vh;
    background-color: var(--cinza);
    top: 5vh;
    background-image: url('./../images/banners/engenheiros.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.services .header__desktop{
    display: none;
}

.services__image__service{
    width: 100%;
    background-color: var(--cinza);
    margin: 47px 0 0;
    padding: 0;
    position: relative;
    min-height: 90vh;
    background-image: url('../images/banners/service-background-mobile.png');
    background-size: cover;
}

.services{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: 7% 0;
    padding: 0%;
}

.services .icon{
    width: 14px;
}

.services p{
    margin-bottom: 0;
    color: var(--azul);
}

.service{
    list-style: none;
    margin: 0;
    display: flex;
    justify-items: center;
    width: 100%;
    padding-bottom: 5%;
}

#projects__cards{
    display: none;
}

#projects-mobile{
    display: block;
}

.title{
    display: block;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--cinza);
    font-weight: 700;
    letter-spacing: 12.5%;
    margin-top: 7%;
}

.title_clients{
    display: block;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--cinza);
    font-weight: 700;
    letter-spacing: 12.5%;
    margin-top: 14%;
}

.underline{
    margin-top: 0;
    margin-bottom: 7%;
    border-bottom: 3px solid var(--azul);
    width: 28%;
}

.underline_white{
    margin-top: 0;
    margin-bottom: 7%;
    border-bottom: 3px solid var(--branco);
    width: 28%;
}

.subtitle{
    margin: 3vh 0;
    font-size: 1.3rem;
    padding: 0 5%;
}

.budget{
    background-color: var(--azul);
}

.budget__link{
    display: flex;
    color: var(--branco);
    padding: 14% 5%;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.budget__mark{
    display: block;
    color: var(--azul);
    background-color: var(--amarelo);
    border-radius: 7px;
    height: 2rem;
    text-align: center;
    width: 170px;
    padding: 0;
    margin: 0 5px;
}

.color_white{
    color: var(--branco);
}

.projects__header{
    background-color: var(--cinza);
    width: 100%;
    min-height: 60vh;
    position: relative;
    bottom: 3px;
    margin-bottom: 40px;
    background-image: url('./../images/banners/banner_projeto_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.projects__header .title{
    padding-top: 0;
    border-color: var(--branco);
}

#clients-cards-desktop{
    display: none;
}


.divider{
    width: 100%;
    height: 7vh;
    background-color: var(--azul);
    margin-top: 5vh;
}

.carousel-item img {
    min-width: 100%;
    height: 32%;
}

.contact{
    background-color: var(--azul);
}

#services .sevices{
    background-color: var(--azul);
    color: var(--branco);
}

#services .sevices h1, 
#services .sevices h2, 
#services .sevices h3, 
#services .sevices p{
    color: var(--branco);
    padding: 0;
}



.contact .title{
    color: var(--branco);
    border-color: var(--branco);
    padding-top: 4vh;
}

.contact input, .contact textarea{
    border-radius: 14px;
    min-height: 3rem;
}
.contact input[type='submit']{
    width: 100%;
}

.info{
    color: var(--branco);
    text-align: center;
    letter-spacing: 1.2px;
    padding: 7vh 0;
}

.info .title{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding:0;
}

.info a{
    color: var(--branco);
}

.header{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__header{
    justify-content: flex-start;
}

.map{
    width: 100%;
    border-bottom: 14px ridge var(--azul);
    height: 50vh;
}

.main__footer{
    text-align: center;
    padding: 4vh 0;
}

.main__footer img{
    padding: 3vh 0;
    width: 140px;
}

.main__footer__icons .icon{
    width: 40px;
    padding: 0 5px 0;
    margin-bottom: 3vh;
}


#logos-mobile .carousel-inner .carousel-item{
    border: 50px solid transparent;
    border-top: 0;
}

.footer_address{
    display: flex;
    justify-content: center;
}

.footer_address p{
    color: var(--azul);
    font-size: 15px;
}


.arrow__card{
    display: none;
}

.services .services__article{
    padding: 0 7%;
}

.desktop__services-on-image{
    display: none;
}

#services .imagem-servico{
    background-color: var(--cinza);
    min-width: 50%;
    height: 50vh;
    margin-bottom: 5%;
    background-size: cover;
}

#services .section__contacts .informations{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 70%;
    max-width: 100%;
    color: var(--azul);
    padding: 5%;
    text-align: start;
}
#services .section__contacts .informations .informations__phone{
    display: flex; align-items: center;
}

#services .section__contacts .informations .item{
    padding: 1%;
}

#services .section__contacts .informations .item .icon{
    margin: 0 10px;
}

#projects .section__contacts{
    padding: 5%;
    text-align: start;
    margin-top: 5vh;
    background-color: var(--azul);
}

#projects .section__contacts .informations .informations__phone{
    display: flex; align-items: center;
}

#projects .section__contacts .informations{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 70%;
    max-width: 100%;
    color: var(--branco);
    padding: 0;
    justify-content: center;
}

#project__hidden_mobile{
    display: none;
}

#projects .section__contacts .informations .item{
    padding: 1%;
}

#projects .section__contacts .informations a{
    color: var(--branco);
}

#projects #project_title{
    padding: 5%;
}








/* AQUI INICIA O CSS PARA DESKTOP */

@media (min-width: 992px) { 
    
    p{
        font-size: 1.2rem;
        color: var(--cinza);
        text-align: justify;
        padding: 0 5%;
    }
    
    
    .desktop-header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        min-width: 70%;
        max-width: 70%;
    }
    
    #nav{
        position: relative;
        z-index: 0;
    }
    
    #menu li{
        border: none;
        font-weight: 400;
    }
    
    #menu li:hover{
        background-color: var(--azul);
    }
    
    .header__div{
        z-index: 8;
    }
    
    .hamburguer-menu{
        display: none;
    }
    
    .desktop-header__contact{
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
    }
    
    #menu{
        display: flex;
        height: 0px;
        background-color: transparent;
        position: relative;
        justify-content: space-evenly;
    }
    
    #menu ul{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        text-align: center;
        border-top: 1px solid var(--branco);
        margin-top: 20px;
    }
    
    #menu ul li a{
        color: var(--branco);
    }
    
    #menu li:first-child {
        margin-top: 0%;
        border: none;
    }
    
    .group-icons-social-media-mobile{
        display: none;
    }
    
    .banner{
        width: 100%;
        background-color: var(--cinza);
        height: 85vh;
        background-image: url('../images/banners/banner-desktop-1920.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        border-bottom: 14px solid var(--azul);
    }
    
    .about__article{
        display: flex;
        flex-direction: row;
    }
    
    .about__article__text{
        width: 50%;
    }
    
    .about__article__background{
        width: 40%;
    }
    
    .about__background{
        width: 70%;
        position: relative;
        right: 0%;
        background-color: var(--azul);
        height: 77vh;
    }
    
    .about__background__image{
        width: 142%;
        position: relative;
        left: 20%;
        height: 60vh;
        background-color: var(--cinza);
        top: 12%;
    }
    
    .services__image__service{
        width: 100%;
        background-color: var(--cinza);
        margin: 0px 0 0;
        padding: 0;
        position: relative;
        min-height: 90vh;
        background-image: url('../images/banners/service-background-desktop-1920.png');
        background-size: cover;
    }
    .service {
        list-style: none;
        margin-top: 3%;
        display: flex;
        justify-items: center;
        width: 49%;
        padding: 14px;
        flex-direction: column;
        border-bottom: 3px ridge var(--azul);
        border-radius: 15px;
        max-height: 140px;
        min-height: 140px;
        box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.33);
    }
    
    #projects-mobile{
        display: none;
    }
    
    .contact .header .title{
        margin-top: 2%;
    }
    
    .service p {
        text-align: initial;
    }
    
    .service .icon{
        width: 100%;
        border-bottom: 1px solid var(--cinza);
        max-height: 120px;
        margin-bottom: 2%;
        content: url('./../images/icons/engrenagem.png');
        padding-bottom: 2%;
        display: none;
    }
    
    .services{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        margin: 0.5% 0;
        padding: 0%;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .services__article .subtitle{
        margin: 0;
    }
    
    
    
    .budget__link{
        display: flex;
        color: var(--branco);
        padding: 5% 5%;
        width: 100%;
        font-size: 1.5rem;
        justify-content: center;
    }
    .desktop__services-on-image{
        display: block;
        width: 40%;
        position: relative;
        left: 28%;
        padding: 2% 0;
    }
    
    .desktop__services-on-image .services .service{
        background-color: rgba(255, 255, 255, 0.623);
    }
    
    .desktop__services-on-image .services .service:hover{
        background-color: var(--azul);
        cursor: pointer;
        background-image: url('./../images/icons/engrenagem.png');
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: right 14px bottom 14px;
    }
    .desktop__services-on-image .services .service p{
        color: var(--azul);
    }
    
    .desktop__services-on-image .services .service:hover p{
        color: var(--branco);
    }
    
    .divider__clients{
        display: none;
    }
    
    .article__contact{
        max-width: 40%;
        position: relative;
        right: 5%;
    }
    
    .article__map{
        max-width: 40vw;
        position: relative;
        right:12%;
    }
    
    .map{
        width: 46vw;
        border-bottom: none;
        height: 67%;
        border-radius: 14px;
    }
    
    .contact .contact__form_and_map{
        display: flex;
    }
    
    .info{
        color: var(--branco);
        text-align: center;
        letter-spacing: 1.2px;
        padding: 7vh 0;
        width: 87vw;
    }
    .underline {
        margin-top: 0px;
        margin-bottom: 7%;
        width: 10%;
    }
    
    .underline_white {
        margin-top: 0;
        margin-bottom: 7%;
        border-bottom: 3px solid var(--branco);
        width: 10%;
    }
    .projects__header{
        background-color: var(--cinza);
        width: 100%;
        min-height: 70vh;
        position: relative;
        bottom: 3px;
        margin-bottom: 40px;
        background-image: url('./../images/banners/banner_projeto_desktop.png');
        background-size: auto;
        background-repeat: no-repeat;
    }
    
    #clients-cards-desktop{
        display: block;
    } 
    
    #logos-mobile{
        display: none;
    }
    
    .projects__cards__article{
        display: flex;
        align-items: center;
    }
    
    .arrow__card{
        padding: 0 2%;
    }
    
    .arrow__card:hover{
        cursor: pointer;
    }
    
    .card-logo{
        max-width: 13%;
        padding: 2%;
        transition: 0.5s ease-in-out;
        margin-bottom: 100px;
        max-height: 18vh;
    }
    .card-logo:hover{
        cursor: pointer;
        max-width:15%;
        width: 15%;
    }
    
    .cards-desktop{
        display: flex;
        justify-content: space-between;
    }
    
    .card-project{
        border: 3px solid transparent;
        max-width: 20%;
        min-width: 20%;
    }
    
    .card-project:hover{
        cursor: pointer;
        box-shadow: 0px 0px 12px 1px rgba(107, 107, 107, 0.4);
        width: 22%;
        max-width: 22%;
    }
    
    .card-project img{
        border-radius: 7px;
    }
    
    .card-project img:hover{
        border-radius: 7px;
    }
    
    #projects__cards{
        display: flex;
        flex-direction: rows;
        justify-content: space-between;
        overflow-x: hidden;
    }
    
    .links__fone a:hover{
        cursor: pointer;
    }
    
    .arrow__card{
        display: block;
    }
    
    /* Ocultar serviço no desktop */
    .services .services__article{
        display: none;
    }
    .services .header{
        display: none;
    }
    
    .services .header__desktop{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 0;
        background-color: var(--azul);
    }
    
    .services .header__desktop .title{
        width: 100%;
        color: var(--branco);
    }
    
    .main__footer{
        background-image: url('./../images/banners/footer.png');
    }
    .footer_address{
        margin-bottom: 0;
    }
    
    
    
    
    /*
    Página sobre Desktop
    */
    #about .banner{
        background-image: url('../images/banners/quem-somos-background-desktop-1920.png');
    } 
    
    #about .about__background__image{
        background-image: url('./../images/banners/engenheiros.png');
        width: 190%;
        position: relative;
        left: -105%;
        height: 60vh;
        background-color: var(--cinza);
        background-size: cover;
        background-repeat: no-repeat;
        top: 12%;
    }
    
    #about .about__focus p{
        margin: 0;
        padding: 0;
    }
    
    #about .about__background{
        width: 70%;
        position: relative;
        right: -75%;
        background-color: var(--azul);
        height: 77vh;
    }
    
    
    /*
    Estilo para a página de serviços Desktop
    */
    #services main{
        margin-top: 3vh;
    }
    
    #services .imagem-servico{
        background-color: var(--cinza);
        min-width: 50%;
        height: 50vh;
    }
    
    #services .service__row{
        padding: 2%;
    }
    #services .banner{
        width: 100%;
        background-color: var(--cinza);
        height: 90vh;
        background-image: url('../images/banners/service-background-desktop-1920.png');
    }
    
    #services .section__contacts{
        padding: 5%;
        text-align: center;
    }
    
    #services .section__contacts .informations{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 70%;
        max-width: 100%;
        color: var(--azul);
        padding: 0;
        justify-content: center;
    }
    #services .section__contacts .informations .informations__phone{
        display: flex; align-items: center;
    }
    
    #services #menu ul li a{
        color: var(--azul);
    }
    
    #services #menu ul li a:hover{
        color: var(--branco);
    }
    
    #project__hidden_mobile{
        display: flex;
    }
    #project__hidden_desktop{
        display:none;
    }
    #services .imagem-servico{
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    
    /*
    Sessão de contatos para a pagina de projetos 
    */
    #projects .section__contacts{
        padding: 5%;
        text-align: center;
        margin-top: 5vh;
        background-color: var(--azul);
    }
    
    #projects .section__contacts .informations{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 70%;
        max-width: 100%;
        color: var(--branco);
        padding: 0;
        justify-content: center;
    }
    
    #projects .section__contacts .informations .informations__phone{
        display: flex; align-items: center;
    }
    
    #projects .banner{
        width: 100%;
        background-color: var(--cinza);
        height: 90vh;
        background-image: url('../images/banners/projetos-background-desktop-1920.png');
    }
    
    #projects #menu ul li a {
        color: var(--azul);
    }
    
    #projects #menu ul li a:hover {
        color: var(--branco);
    }
    
    #projects .card-project{
        border: 1px solid #c5c5c5;
        margin: 5px;
        border-radius: 14px;
        width: 25%;
        min-width: 25%;
    }
    
    #projects .slide{
        width: 82%; height: 50vh; margin: 0 0 0 17%; max-width: 82%; padding: 0; background-size: cover;
    }
    
    #projects .carousel-item img{
        width: 82%; height: 50vh; max-width: 82%; padding: 0; background-size: cover;
    }

    #projects .about_project{
        margin-bottom: 7%; max-width: 100%;
    }
    
    #projects .about_project .texts_about{
        width: 82%; height: 100%; margin: 0 17% 0 0; max-width: 82%; padding: 0;
    }
    
    #projects .paragrafo__sem_espaco{
        margin: 0; padding: 0;
    }

    #projects #project_title{
        padding: 0;
    }

}